.daterangepicker{
    margin: 0px !important;
}

.dt-buttons{
    padding-left: 1em;
}

input.select2-input {
    min-height: 30px;
}
.select2-container-multi .select2-choices {
    border: 1px solid #d5d5d5 !important;
}

#s2id_dateType>a {
    margin-top: 0px !important;
}
div.table-wrapper {
    border: 2px solid #d5d5d5;
    border-radius: 0px !important;
    font-family: 'THSarabunNew', sans-serif;
}
div.table-wrapper table {
    width: 100%;
}
div.table-wrapper table td {
    padding: 5px;
}
div.table-wrapper table td:first-child {
    padding-bottom: 0px;
}
div.table-wrapper .eh-table-title {
    padding-top: 18px;
    font-size: 1.4em;
    text-align: center;
    color: #7F7F7F;
}

div.table-wrapper .eh-number {
    font-size: 3.5em;
    font-family: 'Arial';
    font-weight: bold;
    color: #1EB799;
    padding-bottom: 25px !important;
    padding-right: 0px;
    text-align: center;
}

div.table-wrapper .eh-positive-number {
    color: #1EB799;
}

div.table-wrapper .eh-negative-number {
    color: #ED796C;
}

div.table-wrapper .eh-suggestion-number {
    color: #6DA1C9;
}

div.table-wrapper .eh-complaint-number {
    color: #FAD058;
}

div.table-wrapper .eh-units {
    font-size: 1.1em;
    font-family: 'Arial';
    font-weight: normal;
    color: #A5A5A5;
    padding-bottom: 25px;
    padding-left: 0px !important;
}

div.table-wrapper .eh-units-title {
    font-size: 1.2em;
    font-family: 'Arial';
    font-weight: bold;
    color: #7F7F7F;
}

table.clickable-table {
    cursor: pointer;
}

table.voice-table {
    width: 100%;
    font-size: 16px;
    color: #808080;
    height: 100%;
    background-color: #fff;
}
@media screen and (min-width: 1500px) {
    table.voice-table {
        font-size: 18px;
    }
}
@media screen and (min-width: 1800px) {
    table.voice-table {
        font-size: 20px;
    }
}
table.voice-table td {
    padding: 10px;
}
table.voice-table td.voice-counter {
    font-size: 30px; 
    padding-left: 40px; 
}
div#exec-title {
    background-color: #6DA1C9;
    font-size: 1.6em;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 0px;
}
div.voice-div {
    margin: 15px;
    border: 1px solid #d5d5d5;
}
table.top-voice-table {
    width: 100%;
    background-color: #fff;
}
.positive-bg {
    background-color: #68c5b6;
}
.positive-color {
    color: #68c5b6;
}
.negative-bg {
    background-color: #f3908d;
}
.negative-color {
    color: #f3908d;
}
.suggestion-bg {
    background-color: #6DA1C9;
}
.suggestion-color {
    color: #6DA1C9;
}
.complaint-bg {
    background-color: #FAD058;
}
.complaint-color {
    color: #FAD058;
}
table.top-voice-table thead th {
    padding: 10px;
    color: #fff;
    font-size: 20px;
}
table.top-voice-table td {
    padding: 10px;
    color: #808080;
    font-size: 16px;
}
table.top-voice-table {
    border: 1px solid #d5d5d5;
    margin-top: 25px;
    background-color: #fff;
}

table.voice-month-table {
    border: 1px solid #d5d5d5;
    margin-top: 25px;
    color: #808080;
    background-color: #fff;
}
.text-bold {
    font-weight: bold;
}

.voice .select2-container-multi {
    display: block;
}

.voice ul {
    list-style-type: none;
    padding: 0px;
}
.voice .ms-options-wrap > .ms-options > ul label {
    padding: 7px;
}
.voice input[type=checkbox] {
    width: 18px;
    height: 18px;
    top: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

.voice .ms-options-wrap button {
    height: 34px;
    top:2px;
    border: 1px solid #CCCCCC !important;
}
.bg-gray {
    background-color: #fafafa;
}
#voice-chart {
    background-color: #fff;
    padding: 25px;
    border: 1px solid #d5d5d5;
    margin-top: 0px;
}
.ms-options-wrap button {
    overflow: hidden;
    width: 100%;
    padding-right:20px;
}
.ms-options-wrap > button:after {
    background-color: #fff;
}
@media screen and (min-width: 720px) {
    .ms-options-wrap > .ms-options > ul label {
        font-size: 0.8em;
    }
}
@media screen and (min-width: 1200px) {
    .ms-options-wrap > .ms-options > ul label {
        font-size: 1em;
    }
}
td.total {
    font-weight: bold;
    color: #666666;
}
.voice-header {
    font-size: 28px;
}
.voice-cmodal {
    cursor: pointer;
    text-decoration: underline;
}
.container {
    width: auto;
}
#voices-people .modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}
